
.graphics_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.graphic {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.graphic:nth-child(1) {
    left: -210px;
    top: -10%;
    animation: slideInFromLeft 1s ease forwards 0.5s;
}

.graphic:nth-child(2) {
    right: -200px;
    top: 5%;
    animation: slideInFromRight 1s ease forwards 1s;
}

.graphic:nth-child(3) {
    left: -260px;
    bottom: 20%;
    animation: slideInFromLeft 1s ease forwards 1.5s;
}

@keyframes slideInFromLeft {
    to {
        opacity: 1;
        transform: translateX(130px);
    }
}

@keyframes slideInFromRight {
    to {
        opacity: 1;
        transform: translateX(-130px);
    }
}

@media (max-width: 1024px) {
    .graphic:nth-child(3) {
        bottom: 7%;
    }
}

@media (max-width: 768px) {
    .graphic:nth-child(2) {
        right: -244px;
        top: 1%;
        animation: slideInFromRight 1s ease forwards 1s;
    }

    .graphic:nth-child(1) {
        left: -230px;
        top: -12%;
        animation: slideInFromLeft 1s ease forwards 0.5s;
    }

    .graphic:nth-child(3) {
        bottom: -9%;
    }
}
@media (max-width: 450px) {
    .graphic:nth-child(1) {
        left: -217px;
    }
    .graphic:nth-child(2) {
        right: -235px;
    }
    .graphic:nth-child(3) {
        left: -225px;
    }
}

@media (max-width: 375px) {
    .graphic:nth-child(1) {
        left: -215px;
        top: -16%;
        animation: slideInFromLeft 1s ease forwards 0.5s;
    }

    .graphic:nth-child(2) {
        right: -225px;
        top: 5%;
        animation: slideInFromRight 1s ease forwards 1s;
    }

    .graphic:nth-child(3) {
        left: -194px;
        bottom: -10%;
        animation: slideInFromLeft 1s ease forwards 1.5s;
    }
}